.about {
    text-align: start;
}

.about article{
    padding: 1em;
}

.about article:first-of-type{
    --bg-color: var(--brand-blue);
    --text-color: var(--color-lightest);
    grid-area: 1/1/2/2;

    background: var(--bg-color);

    color: var(--text-color);
}

.about__container{
    --text-color: var(--color-grey);

    grid-area: 1/2/2/3;

    color: var(--text-color);
}

.about__card{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row: auto auto;
    column-gap: 1em;
    
    padding: 1em 0;
}

.about__card span {
    --bg-color: var(--color-light);
    --text-color: var(--color-dark);
    
    grid-area: 1/1/3/2;
    
    display: flex;
    align-self: center;
    align-items: center;
    justify-self: center;
    justify-content: center;
    
    height: 1.5em;
    aspect-ratio: 1/1;
    background: var(--bg-color);
    border-radius: 50%;
    
    font-size: 2em;
    color: var(--text-color);
}

.about__card p{
    grid-area: 2/2/3/3;

    font-weight: 100;
    font-size: 0.8em;
}

.about__card h1 {
    grid-area: 1/2/2/3;

    margin-bottom: .5em;
    font-size: 1em;
    font-weight: 400;
}

@media screen and (min-width: 700px) {
    .about{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (min-width: 900px) {
    .about article{
        padding: 2em 2em 2em var(--computer-padding);
    }

    .about .about__container{
        padding: 2em var(--computer-padding) 2em 2em;
    }

    .about article:first-of-type h1{
        font-weight: 100;
    }

    .about__card h1 {
        font-size: 1.3em;
    }

    .about__card p {
        font-size: 1em;
    }

    .about__card span{
        font-size: 3em;
    }
}